<%- include("../partials/head", { title: "Register" }) %>

<body>
  <div id="wrapper">
    <%- include("../partials/header") %>
    <%- include("../partials/navigation", { nav }) %>

    <main>
      <h1>Register</h1>

      <% if (errors && errors.length) { %>
        <ul class="errors">
          <% errors.forEach(function(err){ %>
            <li><%= err.msg %></li>
          <% }); %>
        </ul>
      <% } %>
      
      <form action="/account/register" method="post" novalidate>
        <label for="firstname">First Name</label>
        <input id="firstname" name="firstname" type="text" required value="<%= firstname || '' %>">

        <label for="lastname">Last Name</label>
        <input id="lastname" name="lastname" type="text" required value="<%= lastname || '' %>">

        <label for="email">Email</label>
        <input id="email" name="email" type="email" required value="<%= email || '' %>">

        <label for="password">Password</label>
        <input id="password" name="password" type="password" required>

        <button type="submit">Register</button>
      </form>
    </main>

    <%- include("../partials/footer") %>
  </div>
</body>



